/***** MAX-WIDTH: 1024x *****/
@media (max-width: 1024px) {
  /***** HERO CONTAINER *****/
  .hero-text h1 {
    font-size: 3.2rem;
  }

  .hero-text-buttons button {
    padding: 1rem;
  }
}

/***** MAX-WIDTH: 768px *****/
@media (max-width: 768px) {
  /***** HERO CONTAINER *****/
  .hero-container {
    display: block;
  }
  .hero-text h1 {
    font-size: 2.4rem;
  }
}

/***** MAX-WIDTH: 640px *****/
@media (max-width: 640px) {
  /***** MOBILE NAVIGATION *****/
  .main-nav-links li:nth-child(4) {
    display: none;
  }

  .btn-mobile-nav {
    display: block;
  }

  .main-nav-links {
    background-color: #fff;
    position: absolute;
    top: 9.6rem;
    left: 0;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1;
  }

  .main-nav-links li:last-child {
    width: 100%;
    border-top: 1px solid #eef3f3;
    text-align: center;
  }

  .main-nav-links li a:link,
  .main-nav-links li a:visited {
    font-size: 3rem;
    padding: 1.6rem;
  }

  .nav-open .main-nav-links {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }
}

/***** MAX-WIDTH: 384px *****/
@media (max-width: 384px) {
  .hero-text h1 {
    font-size: 2.4rem;
  }

  .hero-text-buttons button {
    padding: 1rem;
  }

  /***** ASIDE *****/
  aside {
    height: 72vh;
    border-bottom-left-radius: calc(4vw + 1rem);
  }
}
